*{
    padding: 0;
    margin: 0;
}
html,body
{
    width: 100%;
    height: 100%;
}
img{
	display: block;
	width: 100%;
	height: 100%;
}
.content
{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.content>div
{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0rem;
    left:0rem;
    transition: transform 0.5s linear;
}
.up
{
    transform:translateY(-100%);
}
.down
{
    transform:translateY(100%);
}
.content .yincang
{
    display: none !important;
}
/*第一页*/
.content>div{
	/*background-color: #021358;*/
	background-image: url(../images/huangpu/bg_03.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.logo{
	/*position: absolute;
	top:1.5rem;
	right:0.74rem;*/
    margin-top: 1.5rem;
    margin-right: 0.75rem;
    margin-left: auto;
	width: 1.41rem;
	height: 0.36rem;
}
.hpjx{
	/*position: absolute;
	top:2rem;
	right:0.75rem;*/
    margin-right: 0.75rem;
    margin-left: auto;
	width: 3.27rem;
	height: 0.77rem;
}
.text{
	position: absolute;
	top:2.85rem;
	right:0.78rem;
	width: 4.3rem;
	height: auto;
}
.text p{
	font:0.24rem 黑体;
	color: #ffffff;
	text-align: right;
	letter-spacing: 0.10rem;
	margin-bottom: 0.13rem;
}
.text a{
	width: 2.79rem;
	height: 0.41rem;
	display: block;
	text-decoration: none;
	margin-left: 1.15rem;
}
.timeBg{
	position: absolute;
	left:0;
	bottom: 1.45rem;
	width: 5.64rem;
	height: 5.92rem;
}
.time{
	position: absolute;
	right:0.56rem;
	bottom: 2.35rem;
	width: 0.76rem;
	height: 3.87rem;
}
/*第二页*/
.GDTopbg{
	width: 100%;
    margin-top: 1rem;
	height: 4.82rem;
    background-image: url(../images/huangpu/cenBG2.png);
    background-size:100% 100%;
    position: relative;
} 
.GDTopbg img{
    padding-top: 0.5rem;
    width: 3.17rem;
    height: 2.44rem;
    margin-left: 2.3rem;
}
.GDTopbg p {
	width: 100%;
	font:0.34rem 黑体;
	color: #fefefe;
	text-align: center;
   
}
.GDTopbg p:nth-of-type(1){
 	 margin-top: 0.5rem;
     margin-left: 0.17rem;
}
.GDTopbg p:nth-of-type(2){
    position: absolute;
    bottom: 4px;
    left: 0.17rem;
    margin-top: 0.4rem;
}
.GDTopimg{
	position: absolute;
	top:1.25rem;
	left:1.7rem;
	width: 3.2rem;
	height: 2.45rem;
}
.GDToptext{
	width: 3rem;
	position: absolute;
	top:3.6rem;
	left: 1.8rem;
}
.GDToptext1{
	position: absolute;
	top:3.6rem;
	left: 1.15rem;
}
.GDToptext1 p:nth-of-type(1){
	font:0.34rem 黑体;
	color: #fefefe;
	text-align: center;
	margin-top:0.55rem;
	margin-bottom: 0.3rem;
}
.GDToptext1 p:nth-of-type(2){
	font:0.38rem 黑体;
	color: #fefefe;
	text-align: center;
}
.GDToptext p:nth-of-type(1){
	font:0.34rem 黑体;
	color: #fefefe;
	text-align: center;
	margin-top:0.55rem;
	margin-bottom: 0.3rem;
}
.GDToptext p:nth-of-type(2){
	font:0.38rem 黑体;
	color: #fefefe;
	text-align: center;
}
.GDBotbg{
    position: relative;
    background-image: url(../images/huangpu/pathBG.png);
    background-size: 100% 100%;
    margin: 2rem auto 0;
    width: 3.89rem;
    height: 3.41rem;
}
.GDBotbg h3{
	font:0.3rem 黑体;
	color: #FEFEFE;
    padding-top: 0.45rem;
	margin-bottom: 0.5rem;
	text-align: center;
}
.GDBotbg p{
    padding-left: 0.1rem;
	font:0.24rem 黑体;
	color: #FEFEFE;
	line-height: 0.38rem;
}
/*第五页*/
.content .last{
	background-image: url(../images/huangpu/fifthBG.png) !important;
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
}
.ewm{
	width: 2.1rem;
	height: 2.1rem;
	margin:3.25rem auto;
}
.ewm p{
	font:0.32rem 黑体;
	color: #FEFEFE;
	text-align: center;
	letter-spacing: 0.05rem;
	margin-top:0.4rem;
}
